<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jejuro.miraero.mock_server.account.mapper.AccountMapper">
    <select id="findAccounts"
            resultType="Account">
        SELECT account_id,
               kb_user_id,
               financial_institution_code,
               account_type,
               account_name,
               account_number,
               balance,
               account_status,
               opened_at,
               maturity_at,
               interest_rate,
               monthly_payment_limit
        FROM account
        WHERE kb_user_id = #{kbUserId}
    </select>


</mapper>